<html>
	<head>
		<title>Survey Form</title>
		<link rel="stylesheet" type="text/css" href="/css/profile.css">
	</head>
	<body>
		<header>
			<h1>Welcome <%= first_name %></h1>
			<a href="/logoff">Log Off</a>
		</header>
		<main>
			<p>First Name: <%= first_name %></p>
			<p>Last Name: <%= last_name %></p>
			<p>Email Address: <%= email %></p>
		</main>
	</body>
</html>